body {
    color: #FFFFFF;
    background-color: #041019;
    font-family: 'Roboto', sans-serif;
}

footer {
    color: #FFFFFF;
    background-color: #041019;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    height: 25px;
    bottom: 0;
    width: 100%;
}
footer > div > .row > .app {
    border: 1px solid grey;
    background-color: gainsboro;
    color: black;
}
/* Colors */
.orange {
    color: #FF8B41;
}

.blue {
    color: #1D82AD
}

.green {
    color: #78FEAB;
}

.darkGreen {
    color: #008080
}

.purple {
    color: #6E20F3;
}

.babyBlue {
    color: #4EBDE4;
}

.white {

}